.content .category-heading {
  font-size: 17px;
  background: #87bd27;
  padding: 5px 10px;
  line-height: 30px;
  margin: 0;
}
.content .category-heading h3 {
  color: #fff;
}
.content .category-list{
    width: 100%;
}
.content .categories-item{
    border-bottom: 1px #ddd solid;
}
.content .category-list-wrapper{
    border: 1px solid black;
}