@import '~antd/dist/antd.css';

.ant-layout {
  display: flex;
  align-content: center;
  text-align: left;
  min-height: 800px;
}
.ant-layout-header{
  background: #84DD15;
  height: 200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  border-bottom: 2.5px solid black;
}
.ant-layout-sider{
  background: #F6F6F6;
}

.ant-divider{
  margin:0
}
.logo-cover{
  width: 280px;
  height:130px;
}